# Gemini API Configuration
GEMINI_API_KEY=

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBMcpr3SmsHgh6rYFlHoKHsK4JkIDJNiBY
VITE_FIREBASE_AUTH_DOMAIN=rajmistri-1.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=rajmistri-1
VITE_FIREBASE_DATABASE_URL=https://rajmistri-1-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_STORAGE_BUCKET=rajmistri-1.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=331898998990
VITE_FIREBASE_APP_ID=1:331898998990:web:79144c83397b99e9dfc09f

# (Required for Backend /server.ts) Paste your Firebase Service Account JSON string here
FIREBASE_SERVICE_ACCOUNT_KEY=

# ImgBB Configuration
VITE_IMGBB_API_KEY=
